.background {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: fit-content;
  width: 400px;
  border-radius: 10px;
  padding: 40px 80px;
  box-shadow: -3px -3px 9px #2e2d2da2,
  3px 3px 7px rgba(49, 50, 51, 0.671);
  background-color: rgba(92, 33, 92, 0.747);
  gap: 30px;
}

.input {
  height: 50px;
  padding-left: 20px;
  font-size: 18px;
  outline: none;
  border: 2px solid rgba(36, 4, 36, 0.541);
  border-radius: 8px;
  background: rgba(33, 2, 37, 0.4);
  color: #fafafa;
}

.input::placeholder {
  color: rgba(236, 203, 243, 0.514);
}

.button {
  height: 50px;
  font-size: 18px;
  outline: none;
  border: 2px solid rgba(36, 4, 36, 0.541);
  border-radius: 8px;
  background: rgba(33, 2, 37, 0.4);
  color: #fafafac7
}

.button:disabled {
  background: rgba(33, 2, 37, 0.4);
  color: #350842;
}